# With all honesty, this is mostly copy-pasted from the Elastic docs
# https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html

version: "3.8"
services:
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    container_name: es
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.9.0
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://es:9200
    depends_on:
      - es

volumes:
  esdata:
